# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.stack-work/
dist-newstyle/
.cabal-sandbox/
vhdl-de1-soc/
boards/de1-soc/db/
boards/de1-soc/incremental_db/
boards/de1-soc/output_files/
boards/de1-soc/*.qpf
boards/de1-soc/*.qsf
boards/de1-soc/*.qws
cabal.project.local
cabal.project.local~
*.cabal.sandbox.config
.expo
.expo-shared

# dependencies
node_modules
/quartus/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
